@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f8f9fa;
}
/* You can add global styles to this file, and also import other style files */
